### Import the libraries

In [1]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import pandas as pd

### Load the dataset

In [2]:
data = {'R&D Spend': [165349.2, None, 153441.51, None, 144372.41],
        'Administration': [136897.8, 151377.59, 101145.55, 118671.85, 91562.14],
        'Marketing Spend': [471784.1, None, 407934.54, None, 443898.53]}
df = pd.DataFrame(data)

In [3]:
df

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1        NaN       151377.59              NaN
2  153441.51       101145.55        407934.54
3        NaN       118671.85              NaN
4  144372.41        91562.14        443898.53

### Iterative Imputer (MICE)

In [4]:
imputer = IterativeImputer(max_iter=10, random_state=42)

In [5]:
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
df_imputed

       R&D Spend  Administration  Marketing Spend
0  165349.200000       136897.80    471784.100000
1  174741.344695       151377.59    456376.368553
2  153441.510000       101145.55    407934.540000
3  158704.357617       118671.85    444423.152081
4  144372.410000        91562.14    443898.530000

https://medium.com/@piyushkashyap045/handling-missing-values-in-machine-learning-with-iterative-imputer-mice-a-beginners-guide-194210fcde44